body{
    margin-bottom: 200px;
    background-color: #f4f5f7;
}
.content_box{
    width: 960px;
    margin: 0 auto;
}
.category{
    margin-top: 40px;
}
.category >.title{
    display: inline-block;
    height: 40px;
    padding: 10px 0;
    margin-left: -25px;
}
.category >.title .icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("../img/sprites.png");
    background-position: -141px -75px;
    vertical-align: middle;
}
.category >.title .text{
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    color: #000;
    vertical-align: middle;
}
.category .article_item{
    position: relative;
    height: 180px;
    padding: 20px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #dddddd;
}
.article_list{
    padding: 20px;
    border-radius: 6px;
    background-color: #ffffff;
}
.article_item:nth-last-of-type(1){
    border-bottom: none;
}
.article_item .main{
    display: block;
    height: 100%;
}
.article_item .lf_side,.article_item .rg_side{
    float: left;
}
.article_item .lf_side .main:hover .title{
    color: #00a1d6;
}
.article_item .lf_side .title{
    font-size: 20px;
    font-weight: 600;
}
.article_item .lf_side .cont{
    height: 70px;
    margin: 15px 0;
    font-size: 15px;
    line-height: 25px;
    color: #999!important;
    overflow: hidden;
}
.article_item .lf_side .cont *{
    color: #999999!important;
}
.article_item .bottom{
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #999;
    margin-top: 10px;
}
.article_item .bottom div{
    display: inline-block;
}
.article_item .bottom .author{
    cursor: pointer;
}
.article_item .bottom .author:hover{
    color: #00a1d6;
}
.ar_group .type_title:hover .text{
    color: #f40;
}
.paging{
    margin-top: 20px;
}