body{
    background-color: #f4f5f7;
}
/*.banner_index{*/
/*    background-image: none;*/
/*}*/
/*.bg_cover{*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-image: url("../img/banner.png");*/
/*    z-index: -10;*/
/*}*/
.content{
    width: 960px;
    margin: 0 auto;
}
.category{
    position: relative;
    margin-top: 40px;
}
.category >.title{
    display: inline-block;
    height: 40px;
    padding: 10px 0;
    margin-left: -25px;
}
.category >.title .icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("../img/sprites.png");
    background-position: -141px -75px;
    vertical-align: middle;
}
.category >.title .text{
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    color: #000;
    vertical-align: middle;
}
.category .article_item{
    position: relative;
    height: 180px;
    padding: 20px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #dddddd;
}
.article_list{
    padding: 20px;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px 2px #aaaaaa;
}

/*.part_index{*/
/*    background-color: rgba(250,250,250,0.9);*/
/*    box-shadow: 2px 2px 4px 2px #555555;*/
/*}*/
.article_item:nth-last-of-type(1){
    border-bottom: none;
}
.article_item .main{
    display: block;
    height: 100%;
}
.article_item .lf_side,.article_item .rg_side{
    float: left;
    width: 100%;
}
.article_item .lf_side .main:hover .title{
    color: #00a1d6;
}
.article_item .lf_side .title{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 600;
}
.article_item .lf_side .cont{
    height: 70px;
    margin: 15px 0;
    font-size: 15px;
    line-height: 25px;
    color: #999!important;
    overflow: hidden;
}
.article_item .lf_side .cont *{
    color: #999!important;
}
.article_item .bottom{
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    margin-top: 10px;
}
.article_item .bottom div{
    display: inline-block;
}
.article_item .bottom .author{
    cursor: pointer;
}
.article_item .bottom .author:hover{
    color: #00a1d6;
}
.ar_group .type_title:hover .text{
    color: #00a1d6;
}
.ar_group .more_button{
    position: absolute;
    right: 10px;
    top: 30px;
    font-weight: 700;
}
.ar_group .more_button:hover{
    color: #00a1d6;
}
.aside{
    position: fixed;
    top: 268px;
    right: 290px;
    width: 100px;
    height: 100px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    background-color: #00a1d6;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px 2px #888888;
}
