<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书分类</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/bookIndex.css">
    <script src="./js/vue.js"></script>
    <script src="./js/axios.js"></script>
</head>
<body>
<header class="header">
    <div class="header_in" id="header_info">
        <a href="/index.html" class="left_side">
            <img src="./img/home.png"></img>
        </a>
        <div class="right_side">
            <div class="avatar_box">
                <a href="/userCenter.html" target="_blank" class="avatar">
                    <img :src="'/getAvatarByUid?uid=' + uid" alt="">
                    <span class="user_name">{{userName}}</span>
                </a>
                <div class="btn_box">
                    <a href="/login.html" class="login btn" v-if="uid === ''">登录</a>
                    <div class="sign_out btn" v-if="uid !== ''" @click="signOut">退出</div>
                </div>
            </div>
            <a href="/editArticle.html" target="_blank" class="w_ar">发表文章</a>
        </div>
    </div>
</header>
<div class="banner" id="banner_area">
    <div class="banner_in">
        <div class="choose_box" @click="changeChoose">
            <div class="article_btn btn" :class="{active:isArticle}" data-choose="article">文章</div>
            <div class="book_btn btn" :class="{active:!isArticle}" data-choose="book">图书</div>
        </div>
        <div class="search_box">
            <input type="text" v-model="searchText" placeholder="请输入要查询的内容" @keydown.enter="search">
            <div class="button" @click="search"></div>
        </div>
    </div>
</div>
<div class="content" id="book_area">
    <div class="title">
        <span class="icon"></span>
        <span class="text">{{tag}}</span>
    </div>
    <ul class="book_list">
        <li class="book_item" v-for="book in bookList">
            <a :href="'/bookDetail.html?bid=' + book.id" target="_blank" :title="book.title">
                <img :src="'/getBookPic?path=' + book.cover_path" alt="" class="cover">
                <div class="book_name">{{book.title}}</div>
            </a>
        </li>
    </ul>
    <ul class="paging" @click="clickPaging">
        <li v-for="item in pageArr" :data-page_index="item.page" :class="{active:item.text == nowPage}">{{item.text}}</li>
    </ul>
</div>
<script src="./js/base.js"></script>
<script src="./js/bookCategory.js"></script>
</body>
</html>