<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书分类</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/category.css">
    <script src="./js/vue.js"></script>
    <script src="./js/vuex.js"></script>
    <script src="./js/axios.js"></script>
</head>
<body>
    <header class="header">
        <div class="header_in" id="header_info">
            <div class="right_side">
                <a href="/userCenter.html" target="_blank" class="avatar">
                    <img :src="'/getAvatarByUid?uid=' + uid" alt="">
                    <span class="user_name">{{userName}}</span>
                </a>
                <a href="/editArticle.html" target="_blank" class="w_ar">发表文章</a>
            </div>
        </div>
    </header>
    <div class="banner">
    <div class="banner_in">
        <div class="search_box">
            <input type="text">
            <div class="button"></div>
        </div>
    </div>
</div>
    <div class="content_box" id="content_box">
        <div class="content category">
            <a href="#" target="_blank" class="title">
                <span class="icon"></span>
                <span class="text">{{tag}}</span>
            </a>
            <ul class="article_list">
                <li class="article_item" v-for="article in articleList">
                    <div class="lf_side">
                        <a :href="'/articleDetail.html?id=' + article.id" target="_blank" class="main">
                            <div class="title">{{article.title}}</div>
                            <div class="cont" v-html="article.content.replace(/<img[\w\W]*>/, '').replace(/<[\w\W]{1,5}>/g, '')"></div>
                        </a>
                        <div class="bottom">
                            <div class="author">{{article.u_name}}</div>
                            <div class="view"><span class="icon"></span>{{article.views > 10000 ? (article.views / 10000).toFixed(1) +"万" : article.views}}</div>
                            <!--<div class="comment"><span class="icon"></span></div>-->
                            <div class="date">{{new Date(article.c_time * 1000).toLocaleDateString().replace(/\//g,'-')}}</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="paging" @click="clickPaging">
            <li v-for="item in pageArr" :data-page_index="item.page" :class="{active:item.text == nowPage}">{{item.text}}</li>
        </ul>
    </div>
    <script src="./js/base.js"></script>
    <script src="./js/category.js"></script>
</body>
</html>