<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="css/loginAndRegister.css">
    <script src="./js/vue.js"></script>
    <script src="./js/axios.js"></script>
</head>
<body>
    <div class="login_banner">
        <div class="login_banner_in"></div>
    </div>
    <div class="main" id="register">
        <div class="login_title">注册</div>
        <div class="login_area">
            <input type="text" placeholder="用户名" v-model="userName" class="user_name">
            <input type="text" placeholder="账号" v-model="account" class="account">
            <input type="password" placeholder="密码" v-model="password" class="password">
            <input type="password" placeholder="再次确认密码" v-model="re_password" class="re_password">
            <input type="text" placeholder="qq" v-model="qqNum" class="qqNum">
            <div class="btn" @click="register">注册</div>
        </div>
    </div>
    <script src="./js/register.js"></script>
</body>
</html>